<%- include('partials/adminHeader.ejs') %>

<% if (typeof adminAlertmsg !== 'undefined') { %>
  <div class="message-box" id="alertmsgID"><%= adminAlertmsg %></div>
<% } %>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">

        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
          <h6 class="text-left mb-0">Orders</h6>
        </div>

        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table table-hover text-center">
              <thead style="background-color: rgba(128, 128, 128, 0.788); color: white;">
                <tr style="color: black;">
                  
                  <th>Image</th>
                  <th>Date</th>
                  <th>Customer</th>
                  <th>Address</th>
                  <th>Quantity</th>
                  <th>Order total</th>
                  <Th>Payment</Th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% if (orders.length > 0) { %>
                  <% orders.forEach((order) => { %>
                    <% order.items.forEach((item,index) => { %>
                      <tr>
                     
                        <td>
                          <img src="/images/<%= item.images %>" class="img-fluid product-image-admin" style="max-width: 100px; height: auto; border-radius: 4px;">
                        </td>
                        <td><%= order.orderDate.toLocaleDateString() %></td>
                        <td><%= order.address.name %></td>
                        <td>
                          <p style="text-align: left;">
                            <%= order.address.address %>, <%= order.address.landmark %> <br>
                            <%= order.address.district %>, <%= order.address.state %>, <%= order.address.pincode %> <br>
                            <%= order.address.mobile %>
                          </p>
                        </td>
                        <td><%=item.quantity%></td>
                        <td><%= item.productTotal %></td>
                        <td><%=order.paymentMode%></td>
                        <td>
                          <!-- Display the current status -->
                          <%= item.orderStatus %>
                        </td>
                        <td>
                          <% if(item.orderStatus != "Cancelled"){%>
                          <!-- Form for changing order status -->
                          <form action="/admin/editStatus?itemOrderId=<%= item._id %>" method="post">
                            <select name="newStatus" class="select-status">
                              <option>Select status</option>
                              <option value="Cancelled by seller">Cancel</option>
                              <option value="Confirmed">Confirmed</option>
                              <option value="Shipped">Shipped</option>
                              <option value="Delivered">Delivered</option>
                            </select>
                            <input type="hidden" name="productId" value="<%= item.productId %>">
                            <input type="hidden" name="orderId" value="<%= orders[0]._id %>">

                            <button type="submit" class="button-save">Save</button>
                          </form>
                          <%}else{%>
                            <p>order cancelled</p>
                            <%}%>
                        </td>
                      </tr>
                    <% }); %>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="8"> NO orders Found</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/adminFooter.ejs') %>
