<%- include('partials/adminHeader.ejs') %>

<% if (typeof adminAlertmsg !== 'undefined') { %>
    <div class="message-box" id="alertmsgID"><%= adminAlertmsg %></div>
  <% } %>

<div class="container-fluid py-4">
    <div class="row">
      <div class="col-12">
        <div class="card mb-4">
  
            <div class="card-header pb-0 d-flex justify-content-between align-items-center">
                <h6 class="text-left mb-0">Coupons</h6>
                <div class="ml-auto">
                    <button class="btn" style="border: 1px solid rgb(184, 184, 184);">
                        <a href="/admin/add-coupon-page">Add new coupon</a>
                    </button>
                </div>
            </div>  
    <div class="card">
        <div class="card-body">
            <div class="row">
                
                <div class="col-12">
                    <div >
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th><b>No</b></th>
                                    <th><b>Coupon code</b></th>
                                    <th><b>Discount</b></th>
                                    <th><b>Min amount</b></th>
                                    <th><b>Max amount</b></th>
                                    <th><b>Coupon expiry</b></th>
                                    <th><b>Status</b></th>
                                    <th><b>Action</b></th>
                                </tr>
                            </thead>
                            <tbody>
                                <% if (coupon.length > 0) { %>
                                <% coupon.forEach(function(coupon, index) { %>
                                    <tr>
                                      <td><%= index + 1 %></td>
                                      <td><%= coupon.code %></td>
                                      <td><%= coupon.value %>%</td>
                                      <td><%= coupon.minBill %></td>
                                      <td><%= coupon.maxAmount %></td>
                                      <td><%= formatDate(coupon.expiryDate) %></td>
                                      <% if (coupon.Status==="Active") { %>
                                      <td class="text-success"><%= coupon.Status %></td>
                                      <% } else { %>
                                      <td class="text-danger"><%= coupon.Status %></td>
                                      <% } %>
                                      
                                      <td class="text-end">
                                        <div class="dropdown">
                                            <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i >...</i> </a>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item"  href="/admin/edit-coupon-page?edit=<%=coupon._id%>">Edit</a>
                                                <% if (coupon.Status==="Active") { %>
                                                    <a class="dropdown-item" href="/admin/coupon-Deactivate?id=<%= coupon._id %>" >Deactivate</a>
                                                    <% }else{ %>
                                                    <a class="dropdown-item" href="/admin/coupon-Activate?id=<%= coupon._id %>" >Activate</a>
                                                    <% }%>
                                            </div>
                                        </div> <!-- dropdown //end -->
                                    </td>
                                    </tr>
                                    <% }); %>
                                    <% } else { %>
                                        <tr>
                                          <td colspan="8"> NO coupons Found</td>
                                        </tr>
                                      <% } %>
                            </tbody>
                        </table>
                    </div>
                </div> <!-- .col// -->
            </div> <!-- .row // -->
        </div>
       
    </div> 


</div>
</div>
</div>
</div>
    
<%- include('partials/adminFooter.ejs') %>  

