<%- include('partials/adminHeader.ejs') %>

<% if (typeof adminAlertmsg !== 'undefined') { %>
  <div class="message-box" id="alertmsgID"><%= adminAlertmsg %></div>
<% } %>

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">

    

        <div class="card-header pb-0 d-flex justify-content-between align-items-center">
          <h6 class="text-left mb-0">Sales report</h6>
          <div class="ml-auto">
              <button class="btn" style="border: 1px solid rgb(184, 184, 184);">
                <a onclick="downloadSalesReport()" >download</a>
              </button>
              <button class="btn mr-2" style="border: 1px solid rgb(184, 184, 184);">
                <a onclick="pdf('tablePrint')" >pdf</a>
            </button>
          </div>
      </div>
      
        
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0" id="tablePrint">
            <table class="table table-hover text-center">
              <thead style="background-color: rgba(128, 128, 128, 0.788); color: white;">
                <tr style="color: black;">
                  
                  <th>Image</th>
                  <th>Product name</th>
                  <th>order id</th>
                  <th>Quantity</th>
                  <th>total Price</th>
                  <th>Status</th>
                  <th>Payment Mode</th>
                  <th>Order date</th>
                  <th>Total bill</th>
                </tr>
              </thead>
              <tbody>
                <% if (orders.length > 0) { %>
                  <% orders.forEach((order) => { %>
                    <% order.items.forEach((item,index) => { %>
                      <tr>
                     
                        <td>
                          <img src="/images/<%= item.images %>" class="img-fluid product-image-admin" style="max-width: 100px; height: auto; border-radius: 4px;">
                        </td>
                        <td><%=item.productname%></td>
                        <td><%= item._id %></td>
                        <td><%= item.quantity %></td>
                        <td><%= item.bill %></td>
                        <td><%= item.orderStatus %></td>
                        <td><%= order.paymentMode %></td>
                        <td><%= formatDate(order.orderDate) %></td>
                        <td>₹ <%= order.orderBill %></td>
                        
                        
                      </tr>
                    <% }); %>
                  <% }); %>
                <% } else { %>
                  <tr>
                    <td colspan="8"> NO orders Found</td>
                  </tr>
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('partials/adminFooter.ejs') %>
<script>
  function downloadSalesReport() {
    // Fetch the table data
    var table = document.querySelector('.table');
    var rows = Array.from(table.querySelectorAll('tr'));

    // Extract data from each row
    var csvContent = rows.map(row => {
      var columns = Array.from(row.querySelectorAll('td'));
      return columns.map(column => column.innerText).join(',');
    }).join('\n');

    // Create a Blob and initiate download
    var blob = new Blob([csvContent], { type: 'text/csv;charset=utf-8;' });
    var link = document.createElement("a");
    var url = URL.createObjectURL(blob);
    link.setAttribute("href", url);
    link.setAttribute("download", "sales_report.csv");
    document.body.appendChild(link);
    link.click();
    document.body.removeChild(link);
  }

  function pdf(pt) {
    const x = document.body.innerHTML;
    const y = document.getElementById('tablePrint').innerHTML;
    document.body.innerHTML = y;
    document.body.style.padding = "20px"
    document.body.style.margin = "20px"

    window.print();
    location.reload();
  }
</script>
