<% if (typeof user !== 'undefined') { %>
    <%- include('../partials/userLoggedHeader.ejs') %>
    <% } else { %>
        <%- include('../partials/userHeader.ejs') %>
        <% } %>

        
<% if (typeof userAlertmsg !== 'undefined') { %>
    <div class="message-box" id="alertmsgID"><%= userAlertmsg %></div>
<% } %>

 <!-- Page Banner Section Start -->
 <div class="page-banner-section section bg-image" style="height: 100px;background-color: rgb(226, 226, 226);">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="page-banner text-start">
                    
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->
<!--Cart section start-->
<div class="cart-section section pt-90 pt-lg-45 pt-md-60 pt-sm-50 pt-xs-45  pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container">
        <div class="row">

            <div class="col-12">
                <!-- Cart Table -->
                <div class="cart-table table-responsive mb-30">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="pro-thumbnail">Image</th>
                                <th class="pro-title">Product</th>
                                <th class="pro-price">Price</th>
                                <th class="pro-quantity">Quantity</th>
                                <th class="pro-subtotal">Total</th>
                                <th class="pro-remove">Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (cart.length > 0) { %>
                                <% for (let i=0; i < cart.length; i++) { %>
                                  
                            <tr>
                                <td class="pro-thumbnail"><a href="/product-view?id=<%=cart[i].prod_id._id%>"><img src="images/<%=cart[i].prod_id.images[0].filename %>" alt="Product"></a></td>
                                <td class="pro-title"><a href="/product-view?id=<%=cart[i].prod_id._id%>"><%= cart[i].prod_id.productname %></a></td>
                                <td class="pro-price"><span>₹<%= cart[i].unit_price %></span></td>
                                <!--update qty button-->
                                <td class="pro-quantity">
                                    <div class="pro-qty">
                                        <button class="dec qtybtn" onclick="test('<%=cart[i].prod_id._id %>','<%=totalQuantity%>',-1,'<%= cart[i].unit_price %>','<%= cart[i].prod_id.stock %>','<%= i %>')">-</button>

                                        <input id="cartProductqty<%= i %>"  type="text" value="<%= cart[i].qty %>" readonly>
                                        <button class="inc qtybtn" onclick="test('<%= cart[i].prod_id._id %>','<%=totalQuantity%>',1,'<%= cart[i].unit_price %>','<%= cart[i].prod_id.stock %>','<%= i %>')">+</button>
                                    </div>
                                </td>
                                
                                <td class="pro-subtotal"><span id="subtotal<%= i %>">₹<%= cart[i].qty*cart[i].unit_price %></span></td>
                                <td class="pro-remove">
                                    <a href="#" class="remove-item" data-product-id="<%= cart[i].prod_id._id %>">
                                        <i class="fa fa-trash-o"></i>
                                    </a>
                                </td>
                                
                            </tr>
                            <% } %>
                            <% } else { %>
                                <tr>
                                    <td colspan="6">No items found</td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>
                </div>

                <div class="row">

                    <div class="col-lg-6 col-12 mb-5">
                        
                       
                    </div>

                    <!-- Cart Summary -->
                    <div class="col-lg-6 col-12 mb-30 d-flex">
                        <div class="cart-summary">
                            <div class="cart-summary-wrap">
                                <h4>Cart Summary</h4>
                                <p>Sub Total (<%= totalQuantity %> items) <span id="total">₹<%=cartBill%></span></p>
                                <!-- <p id="couponCode"></p> -->
                            
                                <div><p>Shipping Cost <span>FREE</span></p></div>
                                <h2>Grand Total <span id="finaltotal">₹<%=cartBill%></span></h2>
                            </div>
                            <div class="cart-summary-button">
                               <a href="/checkout"> <button class="btn">Checkout</button></a>
                               
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>
<!--Cart section end-->
<%- include('partials/userFooter.ejs') %>
<script>
    $(document).ready(function() {
    $(document).on('click', '.remove-item', function(event) {

        Swal.fire({
  title: "Are you sure?",
  text: "Do you want to delete this product!",
  icon: "warning",
  showCancelButton: true,
  confirmButtonColor: '#d33',
  cancelButtonText: 'No',
  cancelButtonColor: '#3085d6',
  confirmButtonText: 'Yes'
}).then((result) => {
  if (result.isConfirmed) {
    event.preventDefault();
        const productId = $(this).data('product-id');
        $.ajax({
            url: `/cart/remove/${productId}`,
            method: 'DELETE',
            success: function(response) {
                console.log('Product removed successfully');
                window.location.href = '/cart?userMessage=Product removed from the cart successfully';
            },
            error: function(error) {
                console.error('Error removing product:', error);
                window.location.href = '/cart?userMessage=Something went wrong, Please try again!';
            }
        });
  } 
});
        
      
    });
});

/*----- 
	Quantity
--------------------------------*/

function test(productId, cartQty, count, prPrice, pqty, i){
    // Get the relevant HTML elements
    const cartProductQtyElement = document.querySelector(`#cartProductqty${i}`);
    const subtotalElement = document.querySelector(`#subtotal${i}`);
    const totalElement = document.querySelector('#total');
    const finalTotalElement = document.querySelector('#finaltotal');
    if (!cartProductQtyElement) {
        console.error(`Element not found: #cartProductqty${i}`);
        return;
    }
      // Get the current values from the HTML elements
      let currentQuantity = parseInt(cartProductQtyElement.value);
    const currentSubtotal = parseFloat(subtotalElement.innerText.replace('₹', ''));
    const currentTotal = parseFloat(totalElement.innerText.replace('₹', ''));

     // Calculate the new values
     const newQuantity = currentQuantity + count;

     // Prevent decrementing below 1
    if (count === -1 && newQuantity < 1) {
        return; // Don't update or send the AJAX request
    }

    // Prevent incrementing beyond the product's available quantity
    if (count === 1 && newQuantity > pqty) {
        Swal.fire({
            title: 'STOCK!',
            text: 'Product is out of stock.',
            icon: 'error',
            timer: 5000
        });
        return; // Don't update or send the AJAX request
    }
    const newSubtotal = newQuantity * prPrice;
    const newTotal = currentTotal - currentSubtotal + newSubtotal;

    // Update the HTML elements with the new values
    cartProductQtyElement.value = newQuantity;
    subtotalElement.innerHTML ="₹"+newSubtotal;
    totalElement.innerHTML ="₹"+newTotal;
    finalTotalElement.innerHTML ="₹"+newTotal;

 // Now you can send the updated data in your AJAX request
 $.ajax({
        url: `/addtocart?prdId=${productId}`,
        method: 'POST',
        data: { qty: newQuantity },
        success: function (response) {
            // Handle the success response if needed
        },
        error: function (error) {
            alert("I am here with an error");
            alert(error);
        }
    });


}




</script>

