<% if (typeof user !== 'undefined') { %>
    <%- include('../partials/userLoggedHeader.ejs') %>
<% } else { %>
    <%- include('../partials/userHeader.ejs') %>
<% } %>

<% if (typeof userAlertmsg !== 'undefined') { %>
    <div class="message-box" id="alertmsgID"><%= userAlertmsg %></div>
<% } %>

<!-- Page Banner Section Start -->
<div class="page-banner-section section bg-image" style="height: 100px; background-color: rgb(226, 226, 226);">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- Add content if needed -->
            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->

<!-- Checkout section start -->
<div class="checkout-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-40 pb-70 pb-lg-50 pb-md-40 pb-sm-30 pb-xs-20">
    <div class="container" id="checkout">
        <div class="row">
            <div class="col-12">
                <!-- Checkout Form Start-->
               
                <form action="/payment" method="post">
                    <div class="row row-40">
                        <div class="col-lg-7">
                            <h4 class="checkout-title">Delivery address</h4>
                           
                                <div class="showaddressbox ">
                                    <% if (address.length > 0) { %>
                                        <% address.forEach(function(item) { %>
                                            <div class="address-box myaccount-content">
                                                <address id="adress-box2">
                                                    <input type="radio" name="selectedAddressIndex" id="selectAddress" class="selectAddressRadioBtn js-radioInput" value="<%= item._id %>">
                                                   <label for="selectAddress">
                                                    <p> <strong>  <%= item.name %>  <%= item.mobile %></strong></p>
                                                    <p><%= item.address %>, <%= item.landmark %>, <%= item.district %>, <%= item.state %>, <%= item.pincode %></p>
                                                   </label>
                                                    <!-- Three dots dropdown button -->
                                                    <div class="dropdown">
                                                        <button class="dropbtn">&#8226;&#8226;&#8226;</button>
                                                        <div class="dropdown-content">
                                                            <a href="#">Edit</a>
                                                    
                                                        </div>
                                                    </div>
                                                </address>
                                            

                                            <div id="edit-address-form" style="display: none;">
                                                <h4>Edit address</h4>
                                                <form class="editAddressFormControl" action="/edit-address?id=<%=userData._id%>&addressId=<%=item._id%>&checkoutEditForm=true" method="post">
                                                    <!-- Address input fields go here -->
                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-name">Name:</label>
                                                        <input type="text" name="name" id="edit-address-name" class="form-control">
                                                    </div>

                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-mobile">Mobile:</label>
                                                        <input type="text" name="mobile" id="edit-address-mobile" class="form-control">
                                                    </div>

                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-pincode">pincode:</label>
                                                        <input type="text" name="pincode" id="edit-address-pincode" class="form-control">
                                                    </div>

                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-address">Address:</label>
                                                        <input type="text" name="address" id="edit-address-address" class="form-control">
                                                    </div>

                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-district">District:</label>
                                                        <input type="text" name="district" id="edit-address-district" class="form-control">
                                                    </div>

                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-state">State:</label>
                                                        <input type="text" name="state" id="edit-address-state" class="form-control">
                                                    </div>

                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-landmark">Landmark:</label>
                                                        <input type="text" name="landmark" id="edit-address-landmark" class="form-control">
                                                    </div>

                                                    <div class="col-lg-6 col-12 mb-30">
                                                        <label for="address-alternativeNumber">Alternative Phone:</label>
                                                        <input type="text" name="AlternativeNumber" id="edit-address-alternativeNumber" class="form-control">
                                                    </div>

                                                    <button type="submit" id="save-address-btn" class="save-change-btn">Save</button>
                                                    <button id="cancel-address-btn2" class="save-change-btn">Cancel</button>
                                                </form>
                                            </div>
                                        </div>
                                        <% }); %>
                                    <% } else { %>
                                        <h4>Please add address to continue</h4>
                                    <% } %>

                                    <!-- Add New Address Button -->
                                    <div id="add-new-address-container"  style="width: auto; height: auto; border: 1px solid black; padding: 20px; margin-bottom: 20px;">
                                        <a href="#" id="add-address-btn">
                                            <i class="fa fa-plus"></i> Add New Address
                                        </a>

                                        <!-- New Address Form (Initially Hidden) -->
                                        <div id="new-address-form" class="new-address-form" style="display: none;">
                                            <h4>Add a new address</h4>
                                            <form action="/add-new-address?id=<%=userData._id%>&checkoutAddForm=true" method="post">
                                                <!-- Address input fields go here -->
                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-name">Name:</label>
                                                    <input type="text" name="name" id="address-name" >
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-mobile">Mobile:</label>
                                                    <input type="text" name="mobile" id="address-mobile" >
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-pincode">pincode:</label>
                                                    <input type="text" name="pincode" id="address-pincode" >
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-address">Address:</label>
                                                    <input type="text" name="address" id="address-address" >
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-district">District:</label>
                                                    <input type="text" name="district" id="address-district" >
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-state">State:</label>
                                                    <input type="text" name="state" id="address-state" >
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-landmark">Landmark:</label>
                                                    <input type="text" name="landmark" id="address-landmark" >
                                                </div>

                                                <div class="col-lg-6 col-12 mb-30">
                                                    <label for="address-alternativeNumber">Alternative Phone:</label>
                                                    <input type="text" name="AlternativeNumber" id="address-alternativeNumber" >
                                                </div>

                                                <button type="submit" id="save-address-btn" class="save-change-btn">Save</button>
                                                <button id="cancel-address-btn" class="save-change-btn">Cancel</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                      
                        </div>

                        <div class="col-lg-5" >
                            <!-- Cart Total -->
                            <div class="col-12 mb-60">
                                <h4 class="checkout-title">Cart Total</h4>
                                <div class="checkout-cart-total" style="background-color: #f5f5f5;border-radius: 6px;">
                                   
                                    <% let totalQuantity = 0; %>
                                    <% cart.forEach(function(item) { %>
                                    <% totalQuantity += item.qty; %>
                                    <% }); %>
                                    <h4>Product (<%= totalQuantity %> items) <span>Total</span></h4>
                                    <% if (cart.length > 0) { %>
                                        <ul>
                                            <% cart.forEach(function(item,index) { %>
                                                <li><%= index + 1 %>. <%= item.prod_id.productname %> X <%= item.qty %> <span> ₹<%= item.qty*item.unit_price %></span></li>
                                            <% }); %>
                                        </ul>
                                    <% } else { %>
                                        <p>No items found</p>
                                    <% } %>

                                    <% let subtotal = 0; %>
                                    <% cart.forEach(function(item) { %>
                                    <% subtotal += item.qty*item.unit_price %>
                                    <% }); %>
                                    <p style="border-bottom: none;">Subtotal <span>₹<%= subtotal %></span></p>   
                                    <p>Shipping Fee <span>₹ 00.00</span></p>
                                    <h4>Grand Total <span>₹ <%= totalBill %></span></h4>
                                   
                                </div>
                            </div>
                            
                              <!-- Payment Method -->
                              <div class="col-12 mb-30">

                                <h4 class="checkout-title">Payment Method</h4>

                                <div class="checkout-payment-method">

                                  

                                    <div class="single-method">
                                        <input type="radio" id="payment_cash" name="paymentMethod" value="Cash on delivery">
                                        <label for="payment_cash">Cash on Delivery</label>
                                       
                                    </div>

                                    <div class="single-method">
                                        <input type="radio" id="payment_paypal" name="paymentMethod" value="Razorpay">
                                        <label for="payment_paypal">Online Payment</label>
                                    </div>

                                    <div class="single-method">
                                        <input type="radio" id="payment_wallet" name="paymentMethod" value="Wallet">
                                        <label for="payment_wallet">Wallet <br>  <span style="font-size: 13px;">Wallet Balance: ₹ </span> </label>
                                       
                                    </div>

                                </div>
                                <div id="message_container" style="display: none; color: red;"></div>
                                    <button type="submit" class="place-order btn btn-lg btn-round" id="my_button">Place order</button>

                            </div>
                           
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Checkout section end -->

<%- include('partials/userFooter.ejs') %>
<script>
   
</script>


