<% if (typeof user !== 'undefined') { %>
    <%- include('../partials/userLoggedHeader.ejs') %>
    <% } else { %>
        <%- include('../partials/userHeader.ejs') %>
        <% } %>

        <% if (typeof userAlertmsg !== 'undefined') { %>
            <div class="message-box" id="alertmsgID"><%= userAlertmsg %></div>
        <% } %>

         <!-- Page Banner Section Start -->
 <div class="page-banner-section section bg-image" style="height: 100px;background-color: rgb(226, 226, 226);">
    <div class="container">
        <div class="row">
            <div class="col">

               

            </div>
        </div>
    </div>
</div>
<!-- Page Banner Section End -->   
        <!-- Shop Section Start -->
        <div class="shop-section section pt-40 pt-lg-30 pt-md-30 pt-sm-10 pt-xs-20  pb-70 pb-lg-50 pb-md-40 pb-sm-60 pb-xs-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="shop-area">
                            <div class="row">
                                <div class="col-12">
                                    <!-- Grid & List View Start -->
                                    <div class="shop-topbar-wrapper d-flex justify-content-between align-items-center">
                                        <div class="grid-list-option d-flex">
                                            <ul class="nav">
                                                <li>
                                                    <a class="active show" data-bs-toggle="tab" href="#grid"><i class="fa fa-th"></i></a>
                                                </li>
                                                <li>
                                                    <a data-bs-toggle="tab" href="#list" class=""><i class="fa fa-th-list"></i></a>
                                                </li>
                                            </ul>
                                            <p>Showing 1–9 of 41 results</p>
                                        </div>
                                        <!--Toolbar Short Area Start-->
                                        <div class="toolbar-short-area d-md-flex align-items-center">
                                            <div class="toolbar-shorter ">
                                                <label>Sort By:</label>
                                                <select class="wide">
                                                    <option data-display="Select">Nothing</option>
                                                    <option value="Relevance">Relevance</option>
                                                    <option value="Name, A to Z">Name, A to Z</option>
                                                    <option value="Name, Z to A">Name, Z to A</option>
                                                    <option value="Price, low to high">Price, low to high</option>
                                                    <option value="Price, high to low">Price, high to low</option>
                                                </select>
                                            </div>
                                        </div>
                                        <!--Toolbar Short Area End-->
                                    </div>
                                    <!-- Grid & List View End -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-3 order-lg-1 order-2">
                                    <!-- Single Sidebar Start  -->
                                    <div class="common-sidebar-widget">
                                        <h3 class="sidebar-title">Product categories</h3>
                                        <ul class="sidebar-list">
                                            <% if (categories && categories.length > 0) { %>
                                                <ul class="sidebar-list">
                                                    <% categories.forEach(function(category) { %>
                                                        <li><a href="/shop/displayCategory?id=<%= category._id %>"><i class="fa fa-plus"></i><%= category.categoryName%> <span class="count"></span></a></li>
                                                    <% }); %>
                                                </ul>
                                            <% } else { %>
                                                <h4 class="text-center text-danger">No category Found</h4>
                                            <% } %>
                                            
                                        </ul>
                                    </div>
                                    <!-- Single Sidebar End  -->
                                    <!-- Single Sidebar Start  -->
                                    <div class="common-sidebar-widget">
                                        <h3 class="sidebar-title">Filter by price</h3>
                                        <div class="sidebar-price">
                                            <div id="price-range" class="mb-20"></div>
                                            <button type="button" class="btn">Filter</button>
                                            <input type="text" id="price-amount" class="price-amount" readonly>
                                        </div>
                                    </div>
                                    <!-- Single Sidebar End  -->
                                    <!-- Single Sidebar Start  -->
                                    <div class="common-sidebar-widget">
                                        <h3 class="sidebar-title">Filter by</h3>
                                        <ul class="sidebar-list">
                                            <li><a href="#"><i class="fa fa-plus"></i>Gold <span class="count">(1)</span></a></li>
                                            <li><a href="#"><i class="fa fa-plus"></i>Green <span class="count">(1)</span></a></li>
                                            <li><a href="#"><i class="fa fa-plus"></i>White <span class="count">(1)</span></a></li>
                                        </ul>
                                    </div>
                                    <!-- Single Sidebar End  -->
                                    <!-- Single Sidebar Start  -->
                                    <div class="common-sidebar-widget">
                                        <h3 class="sidebar-title">Compare Products</h3>
                                        <div class="compare-products-list">
                                            <ul>
                                                <li>
                                                    <a href="#" class="title">Cras neque metus</a>
                                                    <a href="#" class="remove-compare"><i class="fa fa-close"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="title">Cras neque metus</a>
                                                    <a href="#" class="remove-compare"><i class="fa fa-close"></i></a>
                                                </li>
                                            </ul>
                                            <a href="#" class="clear-btn">Clear all</a>
                                            <button type="button" class="btn compare-btn">Compare</button>
                                        </div>
                                    </div>
                                    <!-- Single Sidebar End  -->
                                    <!-- Single Sidebar Start  -->
                                    <div class="common-sidebar-widget">
                                        <h3 class="sidebar-title">Product tags</h3>
                                        <ul class="sidebar-tag">
                                            <li><a href="#">blouse</a></li>
                                            <li><a href="#">clothes</a></li>
                                            <li><a href="#">fashion</a></li>
                                            <li><a href="#">handbag</a></li>
                                            <li><a href="#">laptop</a></li>
                                        </ul>
                                    </div>
                                    <!-- Single Sidebar End  -->
                                </div>
                                <div class="col-lg-9 order-lg-2 order-1">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="shop-product">
                                                <div id="myTabContent-2" class="tab-content">
                                                    <div id="grid" class="tab-pane fade active show">
                                                        <div class="product-grid-view">

                                                            

                                                            <div class="row">
                                                                <% if (products && products.length > 0) { %>
                                                    
                                                                    <% products.forEach(function(product) { %>
                                                                <div class="col-lg-4 col-md-6 col-sm-6">
                                                                    <!--  Single Grid product Start -->
                                                                    <div class="single-grid-product mb-40">
                                                                        <div class="product-image">
                                                                            
                                                                            
                                                                            <% if (product.images.length === 1) { %>
                                                                                <a href="/product-view?id=<%=product._id%>">
                                                                                    <img src="/images/<%= product.images[0].filename %>" class="img-fluid" alt="">
                                                                                </a>
                                                                            <% } else { %>
                                                                                <a href="/product-view?id=<%=product._id%>">
                                                                                    <% if (product.stock===0) { %>
                                                                                        <div class="out-of-stock-message">Out of Stock</div>
                                                                                    <% } %>
                                                                                    <img src="/images/<%= product.images[0].filename %>" class="img-fluid" alt="">
                                                                                    <img src="/images/<%= product.images[1].filename %>" class="img-fluid" alt=""> 
                                                                                </a>
                                                                            <% } %>

                                                                            <div class="product-action">
                                                                                <ul>
                                                                                    <li> <a href="#" onclick="addtocart('<%= product._id %>')"><i class="fa fa-cart-plus"></i></a></li>
                                                                                    <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                                                    <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="product-content">
                                                                            <h3 class="title"> <a href="single-product.html"><%=product.productname%></a></h3>
                                                                            <p class="product-price"><span class="discounted-price">Rs.<%=product.price%></span> <% if (product.price !== product.mrp){%><span class="main-price discounted">M.R.P <%=product.mrp%></span>  
                                                                            <span>(<%= product.discount %> off)</span><% } %></p>
                                                                        </div>
                                                                        
                                                                    </div>
                                                                    <!--  Single Grid product End -->
                                                                </div>

                                                               
                                                                <% }) %>
                                                            <% } else { %>
                                                                <h4 class="text-center text-danger">No Products Found</h4>
                                                                <% } %>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>

<!----------------------------------------------------------------------------------------------------------------------------------------->

                                                    <div id="list" class="tab-pane fade">
                                                        <div class="product-list-view">
                                                            <!-- Single List Product Start -->
                                                            <div class="product-list-item mb-40">
                                                                <div class="row">
                                                                    <div class="col-md-4 col-sm-6">
                                                                        <div class="single-grid-product">
                                                                            <div class="product-image">
                                                                                <div class="product-label">
                                                                                    <span class="sale">New</span>
                                                                                </div>
                                                                                <a href="single-product.html">
                                                                                    <img src="assets/images/product/product-3.jpg" class="img-fluid" alt="">
                                                                                    <img src="assets/images/product/product-4.jpg" class="img-fluid" alt="">
                                                                                </a>

                                                                                <div class="product-action">
                                                                                    <ul>
                                                                                        <li><a href="cart.html"><i class="fa fa-cart-plus"></i></a></li>
                                                                                        <li><a href="#quick-view-modal-container" data-bs-toggle="modal" title="Quick View"><i class="fa fa-eye"></i></a></li>
                                                                                        <li><a href="wishlit.html"><i class="fa fa-heart-o"></i></a></li>
                                                                                    </ul>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-8 col-sm-6">
                                                                        <div class="product-content-shop-list">
                                                                            <div class="product-content">
                                                                                <h3 class="title"> <a href="single-product.html">Miro Dining Table</a></h3>
                                                                                <div class="product-category-rating">
                                                                                    <span class="rating">
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star active"></i>
                                                                                <i class="fa fa-star-o"></i>
                                                                            </span>
                                                                                    <span class="review"><a href="#">(1 review)</a></span>
                                                                                </div>
                                                                                <p class="product-price"><span class="discounted-price">$170.00</span> <span class="main-price discounted">$210.00</span></p>
                                                                                <p class="product-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!-- Single List Product Start -->
                                                         
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row mb-30 mb-sm-40 mb-xs-30">
                                        <div class="col">
                                            
                                               
                                            <ul class="page-pagination">
                                            <% if (totalpages) { %>
                                                <div class="pagination justify-content-center">
                                                  <% if (currentpage > 1) { %>
                                                    <button class="btn btn-sm"><a href="?page=<%= currentpage - 1 %>">Previous</a></button>
                                                  <% } %>
                                              
                                                  <% for (let i = 1; i <= totalpages; i++) { %> <!-- Change the loop to start from 1 and go up to totalpages -->
                                                    <button class="btn btn-sm"><a href="?page=<%= i %>" class="<%= i === currentpage ? 'active' : '' %>"><%= i %></a></button>
                                                  <% } %>
                                              
                                                  <% if (currentpage < totalpages) { %>
                                                  <li>  <a href="?page=<%= currentpage + 1 %>"></a><button class="btn btn-sm">Next</button></a></li>
                                                  <% } %>
                                                </div>
                                              <% } %>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Shop Section End -->
        <%- include('partials/userFooter.ejs') %>

        <script>
            function addtocart(prdId){
                $.ajax({
                    url:"addtocart?prdId="+prdId,
                    method:'post',
                    success: (response) => {
                        console.log("working")
                    }
                })
            }
        </script>