
<% if (typeof user !== 'undefined') { %>
    <%- include('../partials/userLoggedHeader.ejs') %>
    <% } else { %>
        <%- include('../partials/userHeader.ejs') %>
        <% } %>

        
<% if (typeof userAlertmsg !== 'undefined') { %>
    <div class="message-box" id="alertmsgID"><%= userAlertmsg %></div>
<% } %>


         <!-- Page Banner Section Start -->
 <div class="page-banner-section section bg-image" style="height: 100px;background-color: rgb(226, 226, 226);"></div>
<!-- Page Banner Section End -->   

        <!--My Account section start-->
        <div class="my-account-section section pt-90 pt-lg-70 pt-md-60 pt-sm-50 pt-xs-45  pb-100 pb-lg-80 pb-md-70 pb-sm-60 pb-xs-50" >
            <div class="container" id="address">
                <div class="row">

                    <div class="col-12">
                        <div class="row">
                            <!-- My Account Tab Menu Start -->
                            <%- include('../partials/profileSidebar.ejs') %>
                            <!-- My Account Tab Menu End -->

                            <!-- My wallet Tab Content Start -->
                            <div class="col-lg-9 col-12">
                                <div class="tab-content" id="myaccountContent">
                                    
                                    </div>
                                    <!-- Single Tab Content End -->
                                    <h3>My wallet</h3>

                                    <div class="myaccount-table table-responsive text-center">
                                       
                                            <div class="col-md-10">
  <div class="row">
      <div class="col-md-5 col-sm-6">
          <div class="p-4 d-flex flex-column purple-bg-color round-corner">
              <span class="text-uppercase font-10 weight-600 white-color-2">Balance Details</span>
              <span class="font-28 weight-700 white-color mt-4">₹<%=walletBalance%></span><br>
              <div class="d-flex flex-row justify-content-between mt-4">
                <% if(locals.keyId){%>
                    <input type="hidden" id="keyId" value="<%= keyId %>">
                    <% }%>
              </div>
              <div >
                <form id="addMoneyForm" onsubmit="addMoney(event)">
                    <div class="wallet-input">
                        <input type="number" id="amountInput" name="amount" placeholder="Enter amount" required>
                    </div>
                    <button type="submit" class="flex-grow-1 ms-1 py-2 text-uppercase font-12 weight-700 white-color orange-bg-color">+ Add Money</button>
                </form>
              </div>
          </div>
      </div>
      <div class="col-md-3 col-sm-6">
       
         <!-- wallet transactions table -->
         <div class="col-md-8">
            <div>
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th class="text-uppercase font-10 weight-600 grey-color-2">Transactions</th>
                            <!-- <th class="text-uppercase font-10 weight-600 purple-color-2 text-end">View All</th> -->
                        </tr>
                    </thead>
                    <tbody>
        <% if (limitedTransactions.length > 0) { %>
            <% limitedTransactions.forEach(function(transaction, index) { %>
                <tr>
                    <td>
                        <div class="d-flex flex-row">
                          <span><%=index + 1%></span>
                            <div class="d-flex flex-column ps-2" style="text-align: left;">
                                <span class="font-14 weight-700 purple-color-2"><%=transaction.description%></span>
                                <span class="font-13 weight-400 purple-color-2"><%= transaction.date.toDateString() %></span>
                                <span><%if(transaction.product){%>
                               Product name : <%=transaction.product%>
                                    <%}%>
                                </span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex flex-column align-items-end">
                            <span class=" font-16 weight-700 orange-color ">₹<%=transaction.amount%></span>
                        </div>
                    </td>
                </tr>
            <% }); %>
        <% } else { %>
           
            <tr>
                <td colspan="7">No transactions found</td>
            </tr>
        <% } %>
    </tbody>
</table>
</div>
</div> 
<!-- end of wallet transactions table -->

      </div>
</div>
</div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- My Account Tab Content End -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
        <!--My Account section end-->
        <%- include('partials/userFooter.ejs') %>


    <script>
         function addMoney(event) {
        // Prevent the default form submission
       
            event.preventDefault();

        // Get the input value
        const amount = document.getElementById("amountInput").value;
        $.ajax({
            url:"add-wallet-money",
            method:"get",
            data:{amount:amount},
            success: (response) => {
               if (response.razorpay) {
          console.log("razorpay working")
          razorpay( response.bill)
        }
      
            }
        })
    

    }
    </script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function razorpay( bill) {
       console.log("razorpay function started");
       let keyId = document.getElementById("keyId").value
       console.log(keyId);
       let options = {
         "key": keyId, // Enter the Key ID generated from the Dashboard
         "amount": bill * 100, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
         "currency": "INR",
         "name": "HomeDecor",
         "description": "Add money to wallet",
         "image": "",
         "handler": function(response) {
           RazoverifyPayment(response)
         },
         "prefill": {
           "name": "HomeDecor",
           "email": "HomeDecor12345",
           "contact": "+91 8590909835"
         },
         "notes": {
           "address": "HomeDecor,HustleHub Techpark,Somasundara palaya,Hsr Layout,Bangalore, Karnataka, India"
         },
         "theme": {
           "color": "#feffe0"
         }
       }
       console.log("heloo");
       let rzp1 = new Razorpay(options);
       console.log("heloo" + rzp1);
       rzp1.open();
     }
   
     function RazoverifyPayment(payment) {
       console.log("razorpayverify");
       location.replace('/user-wallet')
   
       // $.ajax({
       //   url: '/userhome/razo-verify-payment',
       //   data: {
       //     payment,
       //     order
       //   },
       //   method: 'post',
       //   success: (response) => {
       //     if (response.status) {
       //       console.log("succes")
       //       location.href = '/show-confirm-order'
       //     } else {
       //       // need to render payment faild page
       //       location.href = '/razorpayPaymentFailed'
       //     }
       //   }
       // })
     }
   
   </script>